@import url('https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css');

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.visor{

  max-width: 450px;
  overflow: auto;
  text-align: center;
}


